*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.inside-container1{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 8px;
}
div.inside-container1 > h4{
    text-shadow: 1px 1px 1px black;
} 
div.inside-container1 > h6{
    margin-top: 16px;
}
.inside-container1 > .first{
    margin-top: 20px;
    
}
.inside-container1 > .first > button{
    background-color: rgb(53, 147, 184);
    color: white;
    border: none;
    padding: 4px 8px;
    position: relative;
} 
.inside-container1 > .first > button:hover{
    background-color: rgb(17, 100, 133);
}
.inside-container1 > .first > button:active{
    transform: scale(1.02,1.02);
} 
label[for="Blood_Group"] 
{
    margin-top: 20px;
}
label[for="date_of_requirement"]
{
    margin-top: 20px;
}
input[type="date"] 
{
    margin-top: 12px;
}
